 <div class="navbar">
          <div><a href="https://www.pando2.com/" target="_blank"> <img src= > <svg width="124" height="40" viewBox="0 0 122 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_117_1632)">
            <path opacity="0.4" d="M33.2478 22.8658L33.1688 22.8451C31.2402 22.2576 29.4082 21.3885 27.7316 20.2656C27.3623 20.0239 26.993 19.774 26.6311 19.5108C26.5151 19.4255 25.7447 18.9562 25.7528 18.8242C25.6435 20.8654 26.6473 23.4775 27.5034 25.3971C28.0048 26.564 28.7383 27.616 29.6588 28.4885C30.5793 29.361 31.6676 30.0357 32.8569 30.4713C34.0463 30.907 35.3117 31.0943 36.5757 31.0219C37.8397 30.9496 39.0757 30.6189 40.208 30.0504C42.5956 28.8915 44.4356 26.8395 45.3334 24.3346C45.9046 22.813 46.277 21.2234 46.4413 19.6057C46.4251 20.0216 44.6391 21.4148 44.337 21.6017C42.6721 22.5602 40.8295 23.1668 38.9225 23.3842C37.0155 23.6016 35.0844 23.4252 33.2478 22.8658Z" fill="url(#paint0_linear_117_1632)"/>
            <path d="M29.2656 25.4834V28.0784C29.469 28.2514 29.6778 28.4126 29.892 28.5619V25.4834H29.2656Z" fill="#3E52CE"/>
            <path d="M31.3838 26.2344V29.4315C31.5891 29.5264 31.7982 29.6153 32.0102 29.6925V26.2344H31.3838Z" fill="#3E52CE"/>
            <path d="M33.501 25.0654V30.0976C33.7085 30.1347 33.9168 30.1673 34.1273 30.188V25.0654H33.501Z" fill="#3E52CE"/>
            <path d="M35.6201 23.9883V30.2164C35.8292 30.2038 36.0374 30.1845 36.245 30.1586V23.9883H35.6201Z" fill="#3E52CE"/>
            <path d="M37.7441 22.3477V29.8466C37.9561 29.7836 38.1637 29.7109 38.3705 29.6338V22.3477H37.7441Z" fill="#3E52CE"/>
            <path d="M39.853 20.082V28.9126C40.0665 28.7851 40.2755 28.6516 40.4794 28.5048V20.082H39.853Z" fill="#3E52CE"/>
            <path d="M41.9722 18.4795V28.5075C42.1938 28.2591 42.4043 28.5075 42.5971 28.2331V18.4795H41.9722Z" fill="#3E52CE"/>
            <path d="M68.4615 17.8826V31.4873H66.239V17.8826C66.239 13.8521 63.9292 11.2334 59.8335 11.2334C55.5627 11.2334 52.2078 14.0323 52.2078 19.9394V31.4873H50.0273V9.61479H52.2004V13.7669C53.8564 10.5297 56.6448 9.12988 59.9997 9.12988C65.1916 9.13285 68.4615 12.5894 68.4615 17.8826Z" fill="#3E52CE"/>
            <path opacity="0.4" d="M8.16934 22.0456C6.0969 22.3333 4.00061 22.4079 1.91309 22.2681C2.34023 24.1399 3.25421 25.8645 4.56184 27.2661C5.43523 28.1868 6.48669 28.9188 7.65181 29.4172C8.81692 29.9156 10.0711 30.1699 11.3376 30.1647C12.6041 30.1594 13.8562 29.8946 15.0172 29.3865C16.1781 28.8784 17.2235 28.1377 18.0892 27.2098C19.9281 25.2915 20.9452 22.7265 20.9227 20.0645C20.8913 18.7189 20.5914 17.3933 20.0407 16.166C20.2786 16.7288 15.4501 19.6678 14.885 19.9644C12.7795 21.0337 10.5089 21.7374 8.16934 22.0456Z" fill="url(#paint1_linear_117_1632)"/>
            <path d="M22.835 20.3142C22.8546 21.8116 22.5768 23.298 22.0176 24.6864C21.4585 26.0748 20.6293 27.3374 19.5785 28.4004C18.5278 29.4635 17.2764 30.3057 15.8977 30.8778C14.519 31.4499 13.0405 31.7404 11.5486 31.7324C9.62643 31.7738 7.73093 31.2756 6.07565 30.2939C4.42036 29.3122 3.07105 27.886 2.17972 26.176V39.9995H0V9.3735H2.17972V14.4487C3.07095 12.7387 4.42026 11.3125 6.07558 10.3309C7.73091 9.34932 9.62646 8.85133 11.5486 8.89305C13.0407 8.88503 14.5195 9.17565 15.8984 9.74793C17.2773 10.3202 18.5288 11.1627 19.5796 12.226C20.6304 13.2894 21.4596 14.5524 22.0185 15.9411C22.5775 17.3299 22.855 18.8165 22.835 20.3142ZM20.6567 20.3142C20.6712 19.0904 20.4424 17.8759 19.9838 16.7418C19.5251 15.6078 18.8458 14.5769 17.9855 13.7096C17.1253 12.8422 16.1014 12.1557 14.9737 11.6902C13.846 11.2248 12.6371 10.9897 11.4179 10.9987C8.97024 11.0207 6.6303 12.012 4.90724 13.7571C3.18418 15.5022 2.21747 17.8598 2.21747 20.3168C2.21747 22.7738 3.18418 25.1314 4.90724 26.8765C6.6303 28.6216 8.97024 29.6129 11.4179 29.6349C12.6375 29.6436 13.8466 29.4082 14.9745 28.9423C16.1024 28.4764 17.1265 27.7894 17.9867 26.9215C18.847 26.0537 19.5262 25.0223 19.9847 23.8878C20.4431 22.7533 20.6716 21.5384 20.6567 20.3142Z" fill="#3E52CE"/>
            <path d="M47.3253 9.37334V31.2458H45.1028V26.3019C44.1806 27.9762 42.8208 29.3663 41.1699 30.3222C39.519 31.2782 37.6395 31.7639 35.7339 31.727C32.7171 31.727 29.8238 30.5241 27.6906 28.3827C25.5573 26.2414 24.3589 23.3371 24.3589 20.3089C24.3589 17.2806 25.5573 14.3763 27.6906 12.235C29.8238 10.0936 32.7171 8.89066 35.7339 8.89066C37.6394 8.85346 39.5188 9.33888 41.1698 10.2946C42.8207 11.2503 44.1805 12.6402 45.1028 14.3143V9.37334H47.3253ZM45.1028 20.314C45.0895 18.4862 44.5371 16.7032 43.5153 15.1902C42.4935 13.6772 41.0481 12.5019 39.3615 11.8127C37.6749 11.1235 35.8227 10.9512 34.0387 11.3176C32.2547 11.6841 30.6187 12.5728 29.3374 13.8716C28.0561 15.1704 27.1867 16.8211 26.8391 18.6154C26.4915 20.4097 26.6811 22.2671 27.3842 23.9533C28.0872 25.6395 29.2721 27.0789 30.7893 28.0898C32.3065 29.1006 34.088 29.6377 35.909 29.6332C37.126 29.6408 38.3323 29.4042 39.4571 28.9374C40.5819 28.4706 41.6024 27.783 42.4588 26.9149C43.3152 26.0469 43.9902 25.0158 44.4443 23.8823C44.8983 22.7487 45.1222 21.5356 45.1028 20.314Z" fill="#3E52CE"/>
            <path d="M121.989 39.8092V38.5191H121.829L117.756 38.5354L120.112 36.1405C121.356 34.8667 121.861 33.8606 121.856 32.6691C121.866 32.2407 121.782 31.8152 121.613 31.422C121.443 31.0287 121.191 30.6769 120.873 30.3907C120.256 29.8538 119.464 29.5635 118.648 29.5751H118.634C117.957 29.5476 117.287 29.7226 116.71 30.078C116.132 30.4334 115.673 30.9531 115.391 31.571L115.328 31.6986L115.446 31.7794L116.347 32.4037L116.507 32.5082L116.592 32.3473C116.736 32.0174 116.96 31.7291 117.244 31.5089C117.528 31.2886 117.863 31.1435 118.217 31.0869C118.309 31.0728 118.402 31.0658 118.495 31.0661C118.954 31.0574 119.399 31.2297 119.733 31.5461C120.068 31.8626 120.265 32.2979 120.284 32.7588C120.311 33.7346 119.612 34.5487 118.838 35.3672L115.444 38.8735L115.396 38.9217V38.9906L115.414 39.8351V39.996H115.574L121.838 39.9701H121.998L121.989 39.8092Z" fill="#3E52CE"/>
            <path opacity="0.4" d="M91.026 20.069C90.5583 19.8161 90.0821 19.5794 89.5982 19.3594C86.1835 17.841 82.5664 18.3489 80.2175 20.7882C79.2029 21.995 78.1058 23.1294 76.9343 24.1833C76.2072 24.7362 75.4129 25.1939 74.5706 25.5453C74.0698 25.761 73.5491 25.9516 73.0254 26.1177C73.496 26.7162 74.0349 27.2572 74.6312 27.7296C76.8477 29.4396 79.5762 30.345 82.3714 30.2979C84.106 30.2992 85.8223 29.9418 87.4133 29.248L87.434 29.211C87.9084 28.5912 88.4467 28.0233 89.0398 27.5168C89.5214 27.0415 89.8833 26.4491 90.3553 25.9753C90.8369 25.1012 91.4477 24.3197 91.9611 23.4685C92.2824 22.954 92.5476 22.4157 92.8475 21.8952C92.9537 21.7411 93.0487 21.5795 93.1318 21.4118L93.14 21.3843C92.4574 20.911 91.7519 20.4721 91.026 20.069Z" fill="url(#paint2_linear_117_1632)"/>
            <path opacity="0.4" d="M104.508 22.1804C102.325 22.4687 100.12 22.5432 97.9229 22.4029C98.3799 24.295 99.3421 26.0263 100.706 27.4106C102.61 29.2834 105.173 30.3278 107.839 30.3175C110.505 30.3072 113.059 29.2431 114.949 27.3557C115.9 26.4229 116.654 25.3077 117.166 24.0765C117.679 22.8454 117.94 21.5233 117.933 20.1889C117.899 18.8351 117.584 17.5033 117.006 16.2793C117.255 16.845 112.172 19.7908 111.576 20.0888C109.349 21.1679 106.962 21.8744 104.508 22.1804Z" fill="url(#paint3_linear_117_1632)"/>
            <path d="M101.551 27.992V18.3311H100.918V26.8161C100.915 26.9369 100.947 27.0558 101.009 27.1594L101.549 27.9913L101.551 27.992Z" fill="#3E52CE"/>
            <path d="M103.056 28.8902C103.057 28.9424 103.072 28.9933 103.1 29.037C103.129 29.0807 103.169 29.1154 103.216 29.1371L103.684 29.3648V19.6904H103.051L103.056 28.8902Z" fill="#3E52CE"/>
            <path d="M105.204 29.8041C105.204 29.8975 105.3 29.9813 105.438 30.0043L105.834 30.0673V21.1611H105.204V29.8041Z" fill="#3E52CE"/>
            <path d="M107.333 22.1836V30.2445H107.966V22.1836H107.333Z" fill="#3E52CE"/>
            <path d="M109.472 23.0303V30.045L109.874 29.9627C109.931 29.957 109.985 29.9318 110.026 29.8914C110.067 29.851 110.094 29.7977 110.101 29.7403V23.0303H109.472Z" fill="#3E52CE"/>
            <path d="M111.61 24.874V29.2574L112.092 29.075C112.13 29.0659 112.164 29.0458 112.19 29.0171C112.216 28.9885 112.234 28.9526 112.24 28.9141V24.8837L111.61 24.874Z" fill="#3E52CE"/>
            <path d="M113.748 24.2314V27.7162L114.302 27.129C114.353 27.0761 114.381 27.0058 114.381 26.9325V24.2314H113.748Z" fill="#3E52CE"/>
            <path d="M91.0342 0V13.8234C90.1429 12.1134 88.7936 10.6873 87.1383 9.70567C85.483 8.72408 83.5874 8.22609 81.6653 8.26781C80.1734 8.2598 78.6949 8.55033 77.3162 9.12242C75.9374 9.69451 74.6861 10.5367 73.6353 11.5998C72.5845 12.6628 71.7554 13.9254 71.1962 15.3138C70.6371 16.7022 70.3593 18.1886 70.3789 19.686C70.3593 21.1834 70.6371 22.6698 71.1962 24.0582C71.7554 25.4466 72.5845 26.7092 73.6353 27.7722C74.6861 28.8353 75.9374 29.6775 77.3162 30.2496C78.6949 30.8217 80.1734 31.1122 81.6653 31.1042C83.5873 31.1454 85.4827 30.6472 87.1379 29.6657C88.7931 28.6841 90.1425 27.2582 91.0342 25.5486V30.6215H93.2139V0H91.0342ZM81.7953 29.0029C80.4078 29.0127 79.0363 28.7059 77.7842 28.1056C76.5321 27.5054 75.4323 26.6275 74.5677 25.5382C73.2572 23.8724 72.5502 21.8086 72.5631 19.686C72.5521 18.4612 72.7831 17.2464 73.2424 16.1116C73.7018 14.9769 74.3806 13.9448 75.2396 13.0748C76.0985 12.2048 77.1206 11.5143 78.2469 11.043C79.3732 10.5718 80.5813 10.3291 81.8016 10.3291C83.0218 10.3291 84.2299 10.5718 85.3562 11.043C86.4825 11.5143 87.5046 12.2048 88.3636 13.0748C89.2225 13.9448 89.9013 14.9769 90.3607 16.1116C90.8201 17.2464 91.051 18.4612 91.0401 19.686V20.0701C90.9655 22.4757 89.9568 24.7566 88.2294 26.4258C86.502 28.0949 84.1929 29.0198 81.7953 29.0029Z" fill="#3E52CE"/>
            <path d="M96.1668 19.6864C96.154 17.4133 96.8134 15.1876 98.0617 13.2911C99.3099 11.3945 101.091 9.91253 103.179 9.03274C105.267 8.15295 107.568 7.91496 109.791 8.34891C112.014 8.78287 114.058 9.86925 115.665 11.4705C117.273 13.0717 118.37 15.1157 118.819 17.3436C119.269 19.5715 119.049 21.8831 118.188 23.9856C117.328 26.088 115.865 27.8869 113.985 29.1542C112.105 30.4215 109.893 31.1003 107.628 31.1046C106.124 31.1272 104.631 30.848 103.236 30.2833C101.841 29.7186 100.572 28.8798 99.5042 27.8161C98.4365 26.7525 97.5913 25.4854 97.0182 24.0893C96.4451 22.6932 96.1556 21.1963 96.1668 19.6864ZM116.824 19.6864C116.811 17.8583 116.259 16.0749 115.237 14.5614C114.216 13.0479 112.771 11.872 111.084 11.1823C109.397 10.4925 107.545 10.3198 105.761 10.6858C103.976 11.0519 102.34 11.9404 101.058 13.2391C99.7764 14.5378 98.9066 16.1886 98.5587 17.9831C98.2107 19.7776 98.4001 21.6353 99.103 23.3218C99.8059 25.0083 100.991 26.448 102.508 27.4592C104.025 28.4703 105.807 29.0077 107.628 29.0033C108.845 29.011 110.051 28.7746 111.176 28.308C112.301 27.8414 113.321 27.154 114.178 26.2861C115.035 25.4183 115.71 24.3875 116.164 23.2541C116.618 22.1208 116.843 20.9078 116.824 19.6864Z" fill="#3E52CE"/>
            </g>
            <defs>
            <linearGradient id="paint0_linear_117_1632" x1="22.9299" y1="24.9429" x2="53.4773" y2="24.7324" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="0.06" stop-color="#F6F9FB"/>
            <stop offset="0.16" stop-color="#DCE8F0"/>
            <stop offset="0.26" stop-color="#BFD5E4"/>
            <stop offset="0.32" stop-color="#ADC9DC"/>
            <stop offset="0.45" stop-color="#7EA9C8"/>
            <stop offset="0.64" stop-color="#3277A9"/>
            <stop offset="0.71" stop-color="#0F5F9A"/>
            </linearGradient>
            <linearGradient id="paint1_linear_117_1632" x1="21.1321" y1="22.5634" x2="8.99153" y2="30.1086" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="0.09" stop-color="#F5F8FB"/>
            <stop offset="0.24" stop-color="#D8E5EF"/>
            <stop offset="0.44" stop-color="#ABC7DC"/>
            <stop offset="0.68" stop-color="#6B9DC1"/>
            <stop offset="0.95" stop-color="#1C689F"/>
            <stop offset="0.99" stop-color="#0F5F9A"/>
            </linearGradient>
            <linearGradient id="paint2_linear_117_1632" x1="67.4134" y1="21.6512" x2="85.7974" y2="30.5888" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="0.09" stop-color="#F6F9FB"/>
            <stop offset="0.24" stop-color="#DCE8F0"/>
            <stop offset="0.42" stop-color="#B2CCDF"/>
            <stop offset="0.64" stop-color="#79A6C7"/>
            <stop offset="0.89" stop-color="#3075A8"/>
            <stop offset="0.99" stop-color="#0F5F9A"/>
            </linearGradient>
            <linearGradient id="paint3_linear_117_1632" x1="125.738" y1="19.6204" x2="99.8623" y2="34.9678" gradientUnits="userSpaceOnUse">
            <stop stop-color="white"/>
            <stop offset="0.09" stop-color="#F6F9FB"/>
            <stop offset="0.23" stop-color="#DCE8F0"/>
            <stop offset="0.4" stop-color="#B6CEE0"/>
            <stop offset="0.51" stop-color="#9CBDD5"/>
            <stop offset="0.75" stop-color="#5A91BA"/>
            <stop offset="0.99" stop-color="#0F5F9A"/>
            </linearGradient>
            <clipPath id="clip0_117_1632">
            <rect width="124" height="40" fill="white"/>
            </clipPath>
            </defs>
            </svg></a>  </div>
        </div>
        <hr>

<div class="container">
  <div class="grid">

      <button class="toggle-btn" data-target="content-filters">Filtres</button>


      <button class="toggle-btn" data-target="content-salles">Salles</button>


      <button class="toggle-btn" data-target="content-params">Params</button>

  </div>

  <div class="grid">

    <div id="content-filters" class="toggle-content" style="display: none;">
      Filters content goes here...
    </div>


    <div id="content-salles" class="toggle-content" style="display: none;">
      Salles
    </div>


    <div id="content-params" class="toggle-content" style="display: none;">
        Params content goes here...
    </div>
  </div>
</div>

<%= javascript_include_tag "toggle_buttons" %>
